<p>Course-Index</p>



<table>
    <thead>
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Student Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in ViewBag.CourseStudentList)
        {
            <tr>
                <td>@course.Id</td>
                <td>@course.Name</td>
                
            </tr>
        }
    </tbody>
</table>
