@model RelationShipProjectMvc.Models.AddStudent
<p>@ViewBag.Success</p>
<form action="AddStudent" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="studname" class="form-label">Student Name</label>
        <input type="text" class="form-control" id="studname" asp-for="Name" asp-action="AddStudent" asp-controller="Student">
    </div>
    <div class="mb-3">
        <label for="studcourseid" class="form-label">Course</label>
        <select asp-for="CourseRefId" class="form-select">
            @foreach (var course in ViewBag.CourseList as List<Course>)
            {
                <option value="@course.Id">@course.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="studimage" class="form-label">Student Image</label>
        <input type="file" class="form-control" id="studimage" asp-for="ImagePath" asp-action="AddStudent" asp-controller="Student">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

